name: 0 | Build GDE GoZen

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version'
        type: string
        default: '8.4'

run-name: 'Build GoZen Release: v${{ inputs.version }} by @${{ github.actor }}'

jobs:
  compile-linux:
    name: 'Compile Linux'
    uses: ./.github/workflows/compile_linux.yml
    with:
      version: v${{ inputs.version }}

  compile-windows:
    name: 'Compile Windows'
    uses: ./.github/workflows/compile_windows.yml
    with:
      version: v${{ inputs.version }}

  compile-macos:
    name: 'Compile MacOs'
    uses: ./.github/workflows/compile_macos.yml
    with:
      version: v${{ inputs.version }}

  compile-android:
    name: 'Compile Android'
    uses: ./.github/workflows/compile_android.yml
    with:
      version: v${{ inputs.version }}


  build-addon:
    needs: [compile-linux, compile-windows, compile-macos, compile-android]
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout submodules
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Linux bin x86_64
        uses: actions/download-artifact@v4
        with:
          path: test_room/addons/gde_gozen/bin/
          name: bin_linux_x86_64

      - name: Linux bin arm64
        uses: actions/download-artifact@v4
        with:
          path: test_room/addons/gde_gozen/bin/
          name: bin_linux_arm64

      - name: Windows bin
        uses: actions/download-artifact@v4
        with:
          path: test_room/addons/gde_gozen/bin/
          name: bin_windows

      - name: MacOS bin
        uses: actions/download-artifact@v4
        with:
          path: test_room/addons/gde_gozen/bin/
          name: bin_macos

      - name: Android bin arm32
        uses: actions/download-artifact@v4
        with:
          path: test_room/addons/gde_gozen/bin/
          name: bin_android_armv7a

      - name: Android bin arm64
        uses: actions/download-artifact@v4
        with:
          path: test_room/addons/gde_gozen/bin/
          name: bin_android_armv8

      - name: Finalizing
        run: |
          cp LICENSE test_room/addons/gde_gozen/
          sed -i 's/^version="[^"]*"/version="v${{ inputs.version }}"/' test_room/addons/gde_gozen/plugin.cfg

      - name: Upload addon
        uses: actions/upload-artifact@v4
        with:
          name: GDE_GoZen_v${{ inputs.version }}
          path: test_room/addons/
          retention-days: 7

      - name: Upload test_room
        uses: actions/upload-artifact@v4
        with:
          name: GDE_GoZen_test_room_v${{ inputs.version }}
          path: test_room/
          retention-days: 7

  build-csharp-addon:
    needs: [compile-linux, compile-windows, compile-macos, compile-android]
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout submodules
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Linux bin x86_64
        uses: actions/download-artifact@v4
        with:
          path: test_room_csharp/addons/gde_gozen/bin/
          name: bin_linux_x86_64_csharp

      - name: Linux bin arm64
        uses: actions/download-artifact@v4
        with:
          path: test_room_csharp/addons/gde_gozen/bin/
          name: bin_linux_arm64_csharp

      - name: Windows bin
        uses: actions/download-artifact@v4
        with:
          path: test_room_csharp/addons/gde_gozen/bin/
          name: bin_windows_csharp

      - name: MacOS bin
        uses: actions/download-artifact@v4
        with:
          path: test_room_csharp/addons/gde_gozen/bin/
          name: bin_macos_csharp

      - name: Android bin arm32
        uses: actions/download-artifact@v4
        with:
          path: test_room_csharp/addons/gde_gozen/bin/
          name: bin_android_armv7a_csharp

      - name: Android bin arm64
        uses: actions/download-artifact@v4
        with:
          path: test_room_csharp/addons/gde_gozen/bin/
          name: bin_android_armv8_csharp

      - name: Finalizing
        run: |
          cp LICENSE test_room_csharp/addons/gde_gozen/
          sed -i 's/^version="[^"]*"/version="v${{ inputs.version }}"/' test_room_csharp/addons/gde_gozen/plugin.cfg

      - name: Upload addon
        uses: actions/upload-artifact@v4
        with:
          name: GDE_GoZen_v${{ inputs.version }}_csharp
          path: test_room_csharp/addons/
          retention-days: 7

      - name: Upload test_room
        uses: actions/upload-artifact@v4
        with:
          name: GDE_GoZen_test_room_v${{ inputs.version }}_csharp
          path: test_room_csharp/
          retention-days: 7

