name: 3 | MacOS

on: 
  workflow_call:
    inputs:
      version:
        required: true
        type: string
  workflow_dispatch:
    inputs:
      version:
        description: Addon version
        required: true
        default: test

run-name: MacOS build - ${{ inputs.version }}

jobs:
  build:
    runs-on: macos-latest
    steps:
      - name: Installing dependencies
        run: |
          brew update
          brew install yasm scons diffutils make unzip ffmpeg aom
      - name: Checkout submodules
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Compiling FFmpeg arm64
        run: python -c 'import sys; sys.path.append("."); import build; build.compile_ffmpeg_macos("arm64")'

      - name: Build MacOS debug arm64
        run: scons -j4 target=template_debug platform=macos arch=arm64
      - name: Build MacOS release arm64
        run: scons -j4 target=template_release platform=macos arch=arm64

      - name: Updating C#
        run: python -c 'import build; build.update_csharp_bins()'

      - name: Correct MacOS Binary paths
        run: python -c 'import sys; sys.path.append("."); import build; build.macos_fix("arm64")'

      - name: Uploading MacOS bin
        uses: actions/upload-artifact@v4
        with:
          name: bin_macos
          path: test_room/addons/gde_gozen/bin
          retention-days: 1

      - name: Uploading MacOS bin C#
        uses: actions/upload-artifact@v4
        with:
          name: bin_macos_csharp
          path: test_room_csharp/addons/gde_gozen/bin
          retention-days: 1
